@model IEnumerable<LeapList.Models.CLItem>

@{
    ViewBag.Title = "Index";
}

<table>
    @foreach (LeapList.Models.CLItem i in Model)
    {
        <tr>
            <td>@i.Title</td>
            <td>@i.Price</td>
            <td>@i.Date</td>
        </tr>
    }
</table>