@model LeapList.Models.SearchCriteria

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Search</legend>
        <div>Search: @Html.TextBoxFor(s => s.SearchText)</div>
        <div>Category: @Html.TextBoxFor(s => s.Category)</div>
        <div>Min: @Html.TextBoxFor(s => s.MinPrice)</div>
        <div>Max: @Html.TextBoxFor(s => s.MaxPrice)</div>
        <input type="submit" value="Search" />
    </fieldset>
}
