@model LeapList.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(x => x.Username, new { @placeholder = "Username" })
    </div>
    <div>
        @Html.PasswordFor(x => x.Password, new { @placeholder = "Password" })
    </div>
    <div>
        @Html.CheckBoxFor(x => x.RememberMe) Remember Me?
    </div>
    
    <input type="submit" value="Sign In"/>
}