@model LeapList.Models.AddEditSearchVM

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Search Categories</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach(LeapList.Models.CheckBoxCategoryVM cat in Model.Categories)
                    {
                        <div class="list-group-item">
                           @cat.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>