<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    @if(Request.IsAuthenticated)
    {
        <div>@Html.ActionLink("Sign Out", "SignOut", "Profile")</div>
    }
    else
    {
        <div>@Html.ActionLink("Log In", "Login", "Login")</div>
    }
    @RenderBody()
</body>
</html>